<div class="msg-table overflow-auto">
    <div class="new-messageButton">
        <button class="btn btn-primary" routerLink="new-msg">New message</button>
    </div>
    <div class="msg-area" *ngFor="let message of Messages" (click)="getEmailData(message)" >
        
        <div class="userName">
            <h5 id="User-Name">{{message.to_mail}}</h5>
        </div>
        <div class="delete">
            <button class="btn btn-danger" (click)="deleteMessage(message)">delete</button>
        </div>
        <div class="msg-body">
            <span id="msg" >{{message.subject_Mail}}</span>
        </div>
        <div class="Date">
            <span id="created-Date">{{message.createdOn}}</span>
        </div>
    </div>

</div>
